 .u-section-1 {
  background-image: url("/static/images/402087.jpg");
  background-position: 50% 50%;
  min-height: 751px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 225px;
  margin: 319px auto 0 calc(((100% - 1140px) / 2)  + 285px);
}

.u-section-1 .u-text-1 {
  width: 742px;
  margin: 31px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 15px 237px 23px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-image-1 {
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    width: 512px;
  }

  .u-section-1 .u-text-2 {
    width: 826px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 214px;
    margin-left: calc(((100% - 720px) / 2) + 199px);
  }

  .u-section-1 .u-text-2 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 320px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 214px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-right: 161px;
    margin-left: calc(((100% - 540px) / 2) + 149px);
  }

  .u-section-1 .u-text-2 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 241px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 135px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-right: 101px;
    margin-left: calc(((100% - 340px) / 2) + 94px);
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }
} .u-section-2 {
  min-height: 100vh;
  background-image: none;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 72px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  grid-auto-rows: 100%;
  margin-top: 72px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(5, calc(20% - 16px));
  min-height: 205px;
  grid-auto-columns: calc(20% - 16px);
  grid-gap: 20px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-icon-1 {
  height: 91px;
  width: 91px;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-2 .u-text-2 {
  letter-spacing: 2px;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-2 .u-icon-2 {
  height: 91px;
  width: 91px;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-2 .u-text-3 {
  letter-spacing: 2px;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-2 .u-icon-3 {
  height: 91px;
  width: 91px;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-2 .u-text-4 {
  letter-spacing: 2px;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-2 .u-icon-4 {
  height: 91px;
  width: 91px;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-2 .u-text-5 {
  letter-spacing: 2px;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-list-item-5 {
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 30px;
}

.u-section-2 .u-icon-5 {
  height: 91px;
  width: 91px;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-2 .u-text-6 {
  letter-spacing: 2px;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 169px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-2 .u-icon-1 {
    color: rgb(11, 110, 202) !important;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-2 .u-icon-2 {
    color: rgb(11, 110, 202) !important;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-2 .u-icon-3 {
    color: rgb(11, 110, 202) !important;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 30px;
  }

  .u-section-2 .u-icon-4 {
    color: rgb(11, 110, 202) !important;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 30px;
  }

  .u-section-2 .u-icon-5 {
    color: rgb(11, 110, 202) !important;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.333333333333334px));
    min-height: 431px;
    grid-auto-columns: calc(33.333333333333336% - 13.333333333333334px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 27px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 27px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 27px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 0;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 27px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 0;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 27px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 727px;
    grid-auto-columns: calc(50% - 10px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-2 .u-text-2 {
    font-size: 1.625rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.625rem;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.625rem;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.625rem;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.625rem;
  }
} .u-section-3 {
  background-image: none;
  min-height: 100vh;
}

.u-section-3 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2)  + 1140px);
  margin: 0 0 0 auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 655px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 48px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 172px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 44px 12px 0;
}

.u-section-3 .u-image-1 {
  min-height: 655px;
  background-image: url("/static/images/cor.png");
}

.u-section-3 .u-container-layout-2 {
  padding: 3px 2px 2px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 540px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    background-position: 50% 50%;
    min-height: 540px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-1 {
    min-height: 414px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-3 .u-image-1 {
    min-height: 621px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-3 .u-image-1 {
    min-height: 391px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 100vh;
}

.u-section-4 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2)  + 1140px);
  margin: 0 0 0 auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 655px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 48px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 151px auto 0;
}

.u-section-4 .u-text-2 {
  margin: 46px 12px 0;
}

.u-section-4 .u-image-1 {
  min-height: 655px;
  background-image: url("/static/images/output.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-2 {
  padding: 3px 2px 2px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 540px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 540px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-image-1 {
    min-height: 414px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 721px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-4 .u-image-1 {
    min-height: 621px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 491px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-4 .u-image-1 {
    min-height: 391px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 617px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-5 .u-gallery-1 {
  height: 409px;
  width: 503px;
  margin: 39px auto 60px;
}

.u-section-5 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-5 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-5 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-5 .u-carousel-control-1 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-5 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-top: 65px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-5 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-6 {
  background-image: none;
  min-height: 100vh;
}

.u-section-6 .u-table-1 {
  width: 1118px;
  margin: 91px auto 60px;
}

.u-block-1a62-46 {
  background-image: none;
}

.u-section-6 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-6 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-6 .u-table-cell-1 {
  font-size: 1.125rem;
}

.u-section-6 .u-table-cell-2 {
  font-size: 1.125rem;
}

.u-section-6 .u-table-cell-3 {
  background-image: none;
  font-weight: 700;
}

.u-section-6 .u-table-cell-4 {
  font-weight: 700;
}

.u-section-6 .u-table-cell-5 {
  background-image: none;
  font-weight: 700;
}

.u-section-6 .u-table-cell-6 {
  font-weight: 700;
}

.u-section-6 .u-table-cell-7 {
  background-image: none;
  font-weight: 700;
}

.u-section-6 .u-table-cell-8 {
  font-weight: 700;
}

.u-section-6 .u-table-cell-9 {
  background-image: none;
  font-weight: 700;
}

.u-section-6 .u-table-cell-10 {
  font-weight: 700;
}

.u-section-6 .u-table-cell-11 {
  background-image: none;
  font-weight: 700;
}

.u-section-6 .u-table-cell-12 {
  font-weight: 700;
}

.u-section-6 .u-table-cell-13 {
  background-image: none;
  font-weight: 700;
}

.u-section-6 .u-table-cell-14 {
  font-weight: 700;
}

.u-section-6 .u-table-cell-15 {
  background-image: none;
  font-weight: 700;
}

.u-section-6 .u-table-cell-16 {
  font-weight: 700;
}

.u-section-6 .u-table-cell-17 {
  background-image: none;
  font-weight: 700;
}

.u-section-6 .u-table-cell-18 {
  font-weight: 700;
}

.u-block-1a62-35 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-6 .u-table-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-table-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-table-1 {
    width: 340px;
  }
} .u-section-7 {
  background-image: none;
  min-height: 100vh;
}

.u-section-7 .u-text-1 {
  margin: 60px auto 0 calc(((100% - 1140px) / 2)  + 381px);
}

.u-section-7 .u-gallery-1 {
  width: 700px;
  height: 463px;
  margin: 43px calc(((100% - 1140px) / 2)  + -17px) 0 auto;
}

.u-section-7 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-7 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-7 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-7 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-7 .u-carousel-thumbnails-1 {
  padding-left: 10px;
}

.u-section-7 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-7 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-7 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-7 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-7 .u-carousel-control-1 {
  position: absolute;
  left: 13px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-7 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: 120px;
}

.u-section-7 .u-table-1 {
  width: 400px;
  margin: -373px auto 0 calc(((100% - 1140px) / 2)  + -24px);
}

.u-block-cdab-33 {
  font-weight: 700;
}

.u-block-cdab-39 {
  height: 47px;
}

.u-section-7 .u-table-cell-1 {
  font-weight: 700;
}

.u-section-7 .u-table-cell-2 {
  font-weight: 700;
}

.u-section-7 .u-table-cell-3 {
  font-weight: 700;
}

.u-section-7 .u-table-cell-4 {
  font-weight: 700;
}

.u-section-7 .u-table-cell-5 {
  font-weight: 700;
}

.u-section-7 .u-table-cell-6 {
  font-weight: 700;
}

.u-section-7 .u-table-cell-7 {
  font-weight: 700;
}

.u-section-7 .u-table-cell-8 {
  font-weight: 700;
}

.u-section-7 .u-table-cell-9 {
  font-weight: 700;
}

.u-section-7 .u-table-cell-10 {
  font-weight: 700;
}

.u-section-7 .u-table-cell-11 {
  font-weight: 700;
}

.u-section-7 .u-table-cell-12 {
  font-weight: 700;
}

.u-block-cdab-56 {
  height: 47px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 314px);
  }

  .u-section-7 .u-gallery-1 {
    margin-right: calc(((100% - 940px) / 2) + -17px);
  }

  .u-section-7 .u-table-1 {
    margin-left: calc(((100% - 940px) / 2) + -24px);
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 241px);
  }

  .u-section-7 .u-gallery-1 {
    margin-right: calc(((100% - 720px) / 2) + -17px);
  }

  .u-section-7 .u-table-1 {
    margin-left: calc(((100% - 720px) / 2) + -24px);
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + 181px);
  }

  .u-section-7 .u-gallery-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-7 .u-table-1 {
    margin-left: calc(((100% - 540px) / 2) + -24px);
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2)  + 52px);
  }

  .u-section-7 .u-gallery-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-carousel-thumbnail-2 {
    width: 78px;
    height: 78px;
  }

  .u-section-7 .u-carousel-thumbnail-3 {
    width: 78px;
    height: 78px;
  }

  .u-section-7 .u-table-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }
} .u-section-8 {
  background-image: linear-gradient(#e5e5e5, #6c7f90);
  min-height: 100vh;
}

.u-section-8 .u-group-1 {
  width: 800px;
  min-height: 250px;
  height: auto;
  background-image: none;
  margin: 56px auto 0 calc(((100% - 1140px) / 2)  + 170px);
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-form-1 {
  width: 570px;
  background-image: none;
  margin: 30px calc(((100% - 1140px) / 2)  + 285px) 0;
}

.u-section-8 .u-form-group-1 {
  margin-left: 0;
}

.u-section-8 .u-label-1 {
  font-weight: 700;
}

.u-section-8 .u-input-1 {
  background-image: none;
  font-weight: 700;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-8 .u-btn-1 {
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2) + 140px);
    height: auto;
  }

  .u-section-8 .u-form-1 {
    margin-left: calc(((100% - 940px) / 2) + 185px);
    margin-right: calc(((100% - 940px) / 2) + 185px);
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-group-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-8 .u-form-1 {
    margin-left: calc(((100% - 720px) / 2) + 75px);
    margin-right: calc(((100% - 720px) / 2) + 75px);
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-group-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-form-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-group-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-8 .u-form-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }
} .u-section-9 {
  background-image: linear-gradient(#6c7f90, #292e33);
  min-height: 100vh;
}

.u-section-9 .u-text-1 {
  font-weight: 900;
  margin: 224px auto 0 calc(((100% - 1140px) / 2)  + 447px);
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 369px);
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-text-1 {
    margin-left: calc(((100% - 720px) / 2) + 283px);
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-1 {
    margin-left: calc(((100% - 540px) / 2) + 212px);
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    margin-left: calc(((100% - 340px) / 2) + 133px);
  }
}